<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>list1</string>
		<key>destination</key>
		<string>目的地1</string>
		<key>imageUrl</key>
		<string>http://www.pptbz.com/pptpic/UploadFiles_6909/201206/2012062620093440.jpg</string>
		<key>matterList</key>
		<array>
			<dict>
				<key>matter</key>
				<string>事项1</string>
				<key>isComplete</key>
				<false/>
			</dict>
			<dict>
				<key>matter</key>
				<string>事项2</string>
				<key>isComplete</key>
				<false/>
			</dict>
			<dict>
				<key>matter</key>
				<string>事项3</string>
				<key>isComplete</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>list2</string>
		<key>destination</key>
		<string>目的地2</string>
		<key>imageUrl</key>
		<string>http://www.pptok.com/wp-content/uploads/2011/06/beijing05.jpg</string>
		<key>matterList</key>
		<array>
			<dict>
				<key>matter</key>
				<string>事项1</string>
				<key>isComplete</key>
				<false/>
			</dict>
			<dict>
				<key>matter</key>
				<string>事项2</string>
				<key>isComplete</key>
				<false/>
			</dict>
			<dict>
				<key>matter</key>
				<string>事项3</string>
				<key>isComplete</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>list3</string>
		<key>destination</key>
		<string>目的地3</string>
		<key>imageUrl</key>
		<string>http://www.pptbz.com/pptpic/UploadFiles_6909/201206/2012062620093440.jpg</string>
		<key>matterList</key>
		<array>
			<dict>
				<key>matter</key>
				<string>事项1</string>
				<key>isComplete</key>
				<false/>
			</dict>
			<dict>
				<key>matter</key>
				<string>事项2</string>
				<key>isComplete</key>
				<false/>
			</dict>
			<dict>
				<key>matter</key>
				<string>事项3</string>
				<key>isComplete</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>list4</string>
		<key>destination</key>
		<string>目的地4</string>
		<key>imageUrl</key>
		<string>http://www.pptok.com/wp-content/uploads/2011/06/beijing05.jpg</string>
		<key>matterList</key>
		<array>
			<dict>
				<key>matter</key>
				<string>事项1</string>
				<key>isComplete</key>
				<false/>
			</dict>
			<dict>
				<key>matter</key>
				<string>事项2</string>
				<key>isComplete</key>
				<false/>
			</dict>
			<dict>
				<key>matter</key>
				<string>事项3</string>
				<key>isComplete</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>list5</string>
		<key>destination</key>
		<string>目的地5</string>
		<key>imageUrl</key>
		<string>http://www.pptbz.com/pptpic/UploadFiles_6909/201206/2012062620093440.jpg</string>
		<key>matterList</key>
		<array>
			<dict>
				<key>matter</key>
				<string>事项1</string>
				<key>isComplete</key>
				<false/>
			</dict>
			<dict>
				<key>matter</key>
				<string>事项2</string>
				<key>isComplete</key>
				<false/>
			</dict>
			<dict>
				<key>matter</key>
				<string>事项3</string>
				<key>isComplete</key>
				<false/>
			</dict>
		</array>
	</dict>
</array>
</plist>
